@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    position: relative;
    background-image: url(imagens/wallpaper-madereira-trans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 81.4vh;
}

header {
    background-color: rgba(0, 0, 0, 0.747);
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
header > img {
    position: absolute;
    left: 95px;
    width: 80px;
}
nav{
    background-color: rgba(0, 0, 0, 0.747);
    padding: 10px;
}
nav > a {
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
nav > a:hover{
    text-decoration: underline;
    background-color: rgba(107, 100, 100, 0.589);
    transition-duration: 0.1s;
}
main {
   position: absolute;
   left: 10%;
   top: 250px;
   padding: 25px;
   border-radius: 10px;
   color: white;
   background-color: rgba(0, 0, 0, 0.747);
   padding-bottom: 40px;
}
div.logo-principal > img{
    width: 400px;
    position: absolute;
    left: 700px;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 20px;
    padding: 20px;
}
main > h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-indent: 45px;
}
main > p {
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
}
#contate {
    background-color: #7e3d19;
    border-radius: 5px;
    position: absolute;
    left: 130px;
    bottom: 10px;
    padding: 3px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}
#contate:hover{
    text-decoration: underline;
    background-color: #d2ae6d;
}

footer{
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 20px;
    padding: 3px 0px 3px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}